<!DOCTYPE html>
<html>
<head>
  <title>NexusOverview</title>
  <%= stylesheet_link_tag 'nexus.css' %>
  <%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'nexusUI/nexusUI.js'%>
	<%= javascript_include_tag 'nexusUI/nexusButton.js'%>
	<%= javascript_include_tag 'nexusUI/nexusDial.js'%>
	<%= javascript_include_tag 'nexusUI/nexusSplineSlider.js'%>
	<%= javascript_include_tag 'nexusUI/nexusKeyboard.js'%>
  <%= csrf_meta_tag %>

	<script type="text/javascript" charset="utf-8">
		function nexusInit(){
			button = new button("button", "example_send");
			dial1 = new dial("dial_1", "example_send", 1);
			dial1.osc_name = "dial";
			dial2 = new dial("dial_2", "example_send", 2);
			dial2.osc_name = "dial";
			splineSlider = new splineSlider("splineSlider", "example_send");
			keyboard = new keyboard("keyboard", "example_send");
//			keyboard2 = new keyboard("keyboard", "example_send");


			// dial1.circle_size = 20.;
			// dial1.redraw();
		}
		
		function blockMove(event) {
		  // Tell Safari not to move the window.
		  event.preventDefault() ;
		 } 
		
	</script>
</head>
<body ontouchmove="blockMove(event);" onLoad="nexusInit()">

<%= yield %>

</body>
</html>
