<!DOCTYPE html>
<html>
<head>
  <title>NexusOverview</title>
  <%= stylesheet_link_tag 'nexus.css' %>
  <%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'nexusUI/nexusUI.js'%>
	<%= javascript_include_tag 'nexusUI/nexusButton.js'%>
	<%= javascript_include_tag 'nexusUI/nexusGraphicButton.js'%>
	<%= javascript_include_tag 'nexusUI/nexusDial.js'%>
	<%= javascript_include_tag 'nexusUI/nexusSplineSlider.js'%>
	<%= javascript_include_tag 'nexusUI/nexusPositionArray.js'%>
	<%= javascript_include_tag 'nexusUI/nexusPosition.js'%>	
	<%= javascript_include_tag 'nexusUI/nexusKeyboard.js'%>
	<%= javascript_include_tag 'nexusUI/nexusMultiSlider.js'%>
  <%= csrf_meta_tag %>
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<script type="text/javascript" charset="utf-8">
		function nexusInit(){
			button = new button("button", "example_send");
			picButton = new graphicButton("pic_button", "javascripts/nexusUI/button-pic-150x150.jpg", "example_send");
			dial1 = new dial("dial_1", "example_send", 1);
			dial1.osc_name = "dial";
			dial2 = new dial("dial_2", "example_send", 2);
			dial2.osc_name = "dial";
			splineSlider = new splineSlider("splineSlider", "example_send");
			position_array = new positionArray("positionArray", "example_send");
			position1 = new position("position_1", "example_send");
			keyboard = new keyboard("keyboard", "example_send");
			multiSlider = new multiSlider("multiSlider", "example_send");
			
			// position of each element can't be detected when hidden.  Instantiate above first, then hide divs if needed.
			var screen = document.getElementById("screen1");
				screen.style.display = "none";
			screen = document.getElementById("screen2");
				screen.style.display = "none";
			screen = document.getElementById("screen3");
				screen.style.display = "none";
			screen = document.getElementById("screen4");
				screen.style.display = "none";
			screen = document.getElementById("screen5");
				screen.style.display = "none";
		}
		
		function blockMove(event) {
		  // Tell Safari not to move the window.
		  event.preventDefault() ;
		 } 
		
		function nav_toggle(showHideDiv) {
			var ele = document.getElementById(showHideDiv);
			if(ele.style.display == "block") {
		    		ele.style.display = "none";
					}
			else {
				ele.style.display = "block";
			}
		} 
		
	</script>
</head>
<body ontouchmove="blockMove(event);" onLoad="nexusInit()">

<%= yield %>

</body>
</html>
